<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">


<dom-module id="login-app">
  <template>
    <style>
      :host {
        padding-top: 10em;
        display: block;
        text-align: center;
      }


      paper-card {
         background:rgba(255,255,255,0.6);
        --background-color: transparent;
        --background: #99ccff;
        --opacity: .5;

        text-align: left;
        padding: 3em 3em 0em 3em;
        width: 35%;
        height: 390px
      }

      .card-header {

        font-size: 5 em;
      }

      paper-card .card-header {
        font-size: 2 em;
        font-weight: bold;
        --color: var(--paper-green-700);
        color: #072146;
      }

      paper-card .card-actions {
        padding-top: 1em;
        text-align: center;
      }

      paper-button {
        --color: var(--paper-red-500);
        color: var(--paper-green-700);
      }

      paper-button[raised] {
        background-color: #072146;
        color: white;
      }
      paper-button#listener{
        font-size: 12px;
      }

      paper-card .card-header iron-icon {
        width: 2em;
        color: #072146;
      }
      .dataInvalidMsg {
        border-radius : 5px;
        margin: 0px 90px;
        text-align: center;
        font-size: 14px;
      --  padding: 1em 3em 1em 3em;
        color: var(--paper-red-700);
        font-size: small
        --font-weight: bold;
          width: 180px;
      }

      .dataInvalidMsg iron-icon{
          color: var(--paper-red-700);
      }
      .divremember{
        margin: -17px 0px
      }

    </style>

    <paper-card elevation="3" animated-shadow="false" class="card">
      <div class="card-header">
        BBVA Continental
      </div>
      <form is="iron-form" id="form">
        <div class="card-content">
          <empty-validator></empty-validator>
          <paper-input id="dni" label="DNI" type="text" minlength="8" maxlength="8" error-message="Dato erróneo" value="{{dni::input}}" required></paper-input>
          <empty-validator></empty-validator>
          <paper-input id="pswd" label="Contraseña" type="password" validator="empty-validator" auto-validate error-message="Dato requerido" value="{{password::input}}" required></paper-input>
        </div>

        <template is="dom-if" if="{{_isEqualTo(isSucess,'N')}}">
          <div id="dataInvalidMsg" class="dataInvalidMsg">
            <iron-icon icon="report"></iron-icon>
            Datos invalidos
          </div>
        </template>
        <br>
        <div class="divremember">
          <paper-checkbox id="remember" checked>Recordar</paper-checkbox>
        </div>
        <div class="card-actions">
          <paper-button raised id="login">Entrar</paper-button>
        </div>
        <div class="card-actions">

          <paper-button id="listener">
            ¿Ingresas por primera vez?
          </paper-button>
        </div>
      </form>
    </paper-card>

    <iron-ajax id="ajaxLogin" url=[[api.src_host]][[api.src_login]]
     method="post" handle-as="json" content-type="application/json"
     body="[[bodyReq]]"  on-response="loginAJAXResponse"
     last-response="{{user}}" on-error="showError"
     loading="{{cargando}}">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


    class EmptyValidator extends Polymer.mixinBehaviors([Polymer.IronValidatorBehavior], Polymer.Element) {
      static get is() {
        return 'empty-validator';
      }
      ready() {
        super.ready();
        new Polymer.IronMeta({
          type: 'validator',
          key: EmptyValidator.is,
          value: this
        });
      }
      validate(value) {
        const re = /^[a-z0-9._%+-]/;
        return re.test(value);
      }
    }
    window.customElements.define(EmptyValidator.is, EmptyValidator);

    class LoginApp extends Polymer.Element {
      static get is() {
        return 'login-app';
      }

      static get properties() {
        return {
          dni: {
            type: String,
            notify: true
          },
          password: {
            type: String,
            notify: true
          },
          isSucess: {
            type: String,
            value: ''
          },
          api :{
            type : Object,
            notify: true,
            value : {
              "src_host" : "http://localhost:3000/apiBackend/",
              "src_login" : "login/",
              "src_logout" : "logout/",
              "src_users" : "users/",
              "src_movements" : "movements/",
              "src_accounts" : "accounts/",
              "src_auth" : "authenticate/"
            }
          },
          keylocalStorage: {
            type: String,
            value: 'apptechu'
          }
        };
      }

      ready() {
        super.ready();
        console.log("LoginApp : Ready() ");
        this.readLocalStorage();
        this.$.login.addEventListener('click', e => {
          this._handleClick(e)
        });

        this.$.listener.addEventListener('click', e => {
          this.goNewUserForm(e);
        });
      }

      _handleClick(e) {
        if (this.$.dni.validate() && this.$.pswd.validate()) {
          this.login();
        }
      }

      login() {
        console.log("LoginApp : login() -api : " + this.api);
        let loginData = {
          "numeroDocumento": this.dni,
          "password": this.password
        };
        this.bodyReq = JSON.stringify(loginData);
        console.log(this.bodyReq);
        this.$.ajaxLogin.generateRequest();
      }

      _isEqualTo(title, string) {
        return title == string;
      }

      goNewUserForm(e) {
        this.dispatchEvent(new CustomEvent('data-sucess', {
          detail: {
            isLogged: 'U',
            "api": this.api,
          }
        }))
      }

      loginAJAXResponse(e) {
        if (this.$.remember.checked)
            this.saveLocalStorage();

        this.dispatchEvent(new CustomEvent('data-sucess', {
          detail: {
            "isLogged": 'S',
            "api": this.api,
            "data": this.user
          }
        }));
      }

      showError(error) {
        console.log("Error Login: " + error);
        this.isSucess = 'N';
      }

      saveLocalStorage() {
        let clave = this.keylocalStorage;
        let valor = this.dni;
        localStorage.setItem(clave, valor);
        localStorage.setItem('apptechupss', this.password);
      }

      readLocalStorage() {
        let clave = this.keylocalStorage;
        let valor = localStorage.getItem(clave);
        if (valor != null)
          this.dni = valor;
        if (localStorage.getItem('apptechupss') != null)
          this.password = localStorage.getItem('apptechupss');
      }

    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
