<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">


<dom-module id="global-router">
  <template>
    <style>
      :host {
        --app-primary-color: white;
        --app-secondary-color: black;
        --display: block;
      }


      app-header {
        color: #EFF0F5;
        background-color: var(--app-primary-color);
      }


      paper-button {
        color: var(--paper-red-500);
      }

      paper-button[raised] {
        //background-color: var(--primary-color);
        //color: white;
        text-decoration: none;
        padding: 10px;
        //font-weight: 450;
        //font-size: 20px;
        color: white;
        --background-color: var(--paper-red-400);

      }

      iron-selector{
        padding: 15px 0px;
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        margin: 0px 60px;
      }

      .container {
        width: 100%;
        --background-image: url('/assets/img/fondo-cabecera.jpg');
        width: 200; height: 300;
        background: #072146;
        color: #FFFFFF;
        margin: 0px 86.5px;
      }

      .left {
        padding: 3px 0px;
        float: left;
        font-size: 32px;
      }


      .right {
        padding: 0px 12px;
        float: right;

      }
      app-header {
        background: #072146;
      }

      app-toolbar {
        font-size: 20px;
      }

      app-toolbar .right {
        font-size: 10px;
      }

      app-toolbar .title {
        text-align: center;
        color: var(--paper-blue-800);
        padding: 0px 50px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{data}}" tail="{{tail}}">



      <app-header-layout >
         <app-header slot="header" condenses reveals effects="waterfall">
            <app-toolbar>
              <div class="container">
                <div class="left">
                    <span style="font-weight: bold;">BBVA </span>Continental
                    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                      <a name="accounts" href="/accounts/">
                        <span style="color: white; text-decoration: none; padding: 0px 17px;">CUENTAS  </span>
                      </a>
                      <a name="transfers" href="/transfers/">
                        <span style="color: white; text-decoration: none; padding: 0px 17px;"> TRANSFERENCIAS</span>
                      </a>
                      <a name="config" href="/config/">
                        <span style="color: white; text-decoration: none;"> OTROS</span>
                      </a>
                    </iron-selector>
                </div>
                <div class="right">
                  <paper-button raised ><iron-icon icon="record-voice-over"></iron-icon>{{context.user.nombres}} {{context.user.apellidos}}</paper-button>
                  <paper-button raised id="logout"><iron-icon icon="power-settings-new"></iron-icon>Logout</paper-button>
                </div>
              </div>
            </app-toolbar>
          </app-header>


          <iron-pages selected="[[data.page]]" attr-for-selected="page" fallback-selection="accounts">
            <account-app id="accountApp" page="accounts" api=[[api]] context=[[context]]> </account-app>
            <transfers-flow id="transfersFlow" page="transfers" api=[[api]] context=[[context]]> </transfers-flow>
            <profile-config id="profileConfig" page="config" api=[[api]] context=[[context]] on-refreshlist="_invoqueGetAccountAjax"> </profile-config>
          </iron-pages>

        </app-header-layout>



      <iron-ajax id="ajaxLogout" url=[[api.src_host]][[api.src_logout]] method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="logoutAJAXResponse" last-response="{{response}}" on-error="showError">
      </iron-ajax>


      <iron-ajax id="ajaxAccountList"
      url=[[api.src_host]][[api.src_accounts]]{{context.user.numeroDocumento}}
      method="GET" last-response="{{list}}" handle-as="json"
      on-response="accountsListAJAXResponse" on-error="showError"
      headers$='{"authorization": "Basic [[context.token]]"}'>

      </iron-ajax>


  </template>
  <script>
    class GlobalRouter extends Polymer.Element {

      static get is() {
        return 'global-router';
      }

      static get properties() {
        return {
          route: {
            type: Object,
            observer: '_routeChanged',
          },
          page: {
            type: Object,
            observer: '_pageChanged',
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          },
          list: {
            type: Object
          }
        }
      }

      ready() {
        super.ready();
        console.log("GlobalRouter : Ready() ");
        this._invoqueGetAccountAjax();
        this.$.logout.addEventListener('click', e => {
          this._handleClick();
        })
      }

      _invoqueGetAccountAjax() {
        //DESENCADENA EL IRON-AJAX
        this.$.ajaxAccountList.generateRequest();
      }

      accountsListAJAXResponse(list) {
        this.$.accountApp.accounts = this.list;
        var cuentas = [];
        for (var i in this.list) {
                cuentas[i]=this.list[i].numeroCuenta;
            }
        this.$.transfersFlow.listaccounts = cuentas;
      }

      _handleClick(e) {
        this._invoqueAjax();
      }

      _invoqueAjax() {
        let info = {
          "usr_id": this.context.usr_id
        }
        this.body = JSON.stringify(info);
        this.$.ajaxLogout.generateRequest();
      }

      logoutAJAXResponse() {

        this.route.path = '/components/login-app/';
        this.page = '/components/login-app/';

        this.dispatchEvent(new CustomEvent('logoutevent', {
          detail: {
            "isLogged": 'N'
          }
        }))
      }

      _routeChanged() {
        let ruta = this.route.path;
        if ("/accounts/" == ruta) {
          this.$.accountApp.isNav = 'C';
          this.$.transfersFlow.routeTransfer = 'F';
          this.$.profileConfig.reset = !this.$.profileConfig.reset;
        }
        if ("/transfers/" == ruta) {
          this.$.accountApp.accountSelected = ''
          this.$.accountApp.isNav = '';
          this.$.profileConfig.reset = !this.$.profileConfig.reset;
        }
        if ("/config/" == ruta) {
          this.$.accountApp.accountSelected = ''
          this.$.transfersFlow.routeTransfer = 'F';
          this.$.accountApp.isNav = '';
        }

      }

      _pageChanged() {
        console.log("GlobalRouter - _pageChanged() - value" + JSON.stringify(this.page));
      }

    }
    window.customElements.define(GlobalRouter.is, GlobalRouter);
  </script>
</dom-module>
