<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="transfers-resume">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .marco {
        border: 1px solid rgba(191, 191, 191, 1);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 0px 0px;
        padding: 0px 20px;
      }

      .actions{
        margin:  16px -6px;
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: #072146;
        color: white;
      }

    </style>

    <div class="card">
      <div class="marco">
        <h1>Operación Realizada Correctamente</h1>

        <p><b> Cuenta de cargo :</b> [[data.cuentaCargo]]</p>
        <p><b> Cuenta destino :</b> [[data.cuentaAbono]]</p>
        <p><b> Importe :</b> [[data.mount]]</p>
        <p><b> Divisa :</b> [[data.divisa]]</p>
        <p><b> Concepto :</b> [[data.concept]]</p>
        <p><b> Revise sus movimientos para ver el detalle de la Operación</b></p>
        <div class="actions">
          <paper-button id="volver" on-click="routeForm" raised>Volver</paper-button>
        </div>
      </div>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class TransfersResume extends Polymer.Element {
      static get is() {
        return 'transfers-resume';
      }

      ready() {
        super.ready();
        console.log("TransfersResume : Ready() ");
      }

      routeForm() {
        this.dispatchEvent(new CustomEvent('eventroute', {
          detail: {
            "route": 'F'
          }
        }))
      }

    }
    window.customElements.define(TransfersResume.is, TransfersResume);
  </script>
</dom-module>
