<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="transfers-simulate">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .marco {
        border: 1px solid rgba(191, 191, 191, 1);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 0px 0px;
        padding: 0px 20px;
      }

      .actions{
        margin:  16px -6px;
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: #072146;
        color: white;
      }


    </style>

    <div class="card">
      <div >
        <h1>Transferencia a Terceros - </h1>
        <p><b>Cuenta de cargo :</b> [[data.cuentaCargo]]</p>
        <p><b>Cuenta destino :</b> [[data.cuentaAbono]]</p>
        <p><b>Importe :</b> [[data.mount]]</p>
        <p><b>Moneda :</b> [[data.divisa]]</p>
        <p><b>Rerefencia :</b> [[data.concept]]</p>
        <p></p>

        <div class="actions">
          <paper-button id="autorizar" raised>Autorizar</paper-button>
          <paper-button id="cancelar" raised>Cancelar</paper-button>
        </div>

      </div>
    </div>

    <iron-ajax id="ajaxPostMovement"
     url="" method="put" handle-as="json" content-type="application/json"
     body="[[body]]" loading="{{loading}}" on-response="postMovementAJAXResponse"
     last-response="{{user}}" on-error="showError"
     headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class TransfersSimulate extends Polymer.Element {
      static get is() {
        return 'transfers-simulate';
      }

      ready() {
        super.ready();
        console.log("TransfersSimulate : Ready() ");

        this.$.autorizar.addEventListener('click', e => {
          this._handleClick();
        });
      }

      static get properties() {
        return {
          mount: {
            type: String
          },
          divisa: {
            type: String
          },
          cuentaAbono: {
            type: String
          },
          cuentaCargo: {
            type: String
          },
          concept: {
            type: String
          },
          indexMovement: {
            type: Number
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          }
        };
      }

      _handleClick() {
          this.invoqueAjaxPostMovement();
      }

      routeResume() {
        this.dispatchEvent(new CustomEvent('eventroute', {
          detail: {
            "data": this.data,
            "route": 'R'
          }
        }))
      }

      invoqueAjaxPostMovement() {
        this.cargo();
        this.abono();
        this.routeResume();
      }

      abono(){
        let cuentaAbono = this.data.cuentaAbono;
        let descripcionAbono ="TRASF. DE CTA "+cuentaAbono;
        let movement = {
            "descripcion": descripcionAbono,
            "tipoOperacion": "Abono",
            "monto": parseFloat(this.data.mount)
          }
          this.body = JSON.stringify(movement);
          this.$.ajaxPostMovement.url = this.api.src_host + this.api.src_movements + cuentaAbono;
          this.$.ajaxPostMovement.generateRequest();
      }

      cargo(){
        let cuentaCargo = this.data.cuentaCargo;
        let descripcionCargo ="TRASF. A CTA "+cuentaCargo;
        let movement = {
            "descripcion": descripcionCargo,
            "tipoOperacion": "Cargo",
            "monto": parseFloat(this.data.mount)
          }
          this.data.tmp = movement;
          this.body = JSON.stringify(movement);
          this.$.ajaxPostMovement.url = this.api.src_host + this.api.src_movements + cuentaCargo;
          this.$.ajaxPostMovement.generateRequest();
      }

      postMovementAJAXResponse() {
        console.log("TransfersSimulate : postMovementAJAXResponse() - Operacion realizada correctamente ");
      }

      showError() {
        console.log("Ocurrio un error en la transferencia");
      }
    }
    window.customElements.define(TransfersSimulate.is, TransfersSimulate);
  </script>
</dom-module>
