<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<dom-module id="new-user">
  <template>
    <style>
      :host {
        padding-top: 10em;
        display: block;
        text-align: center;
      }

      paper-card {
        background:rgba(255,255,255,0.7);
        text-align: left;
        padding: 3em 3em 0em 3em;
        width: 35%;
        height: 600px;

      }
      .card-header {
        font-size: 5 em;
      }

      paper-card .card-header {
        font-size: 2 em;
        font-weight: bold;
        --color: var(--paper-green-900);
        color: #072146;
      }

      paper-card .card-actions {
        padding-top: 1em;
        text-align: right;
      }

      paper-button {
        color: var(--paper-red-500);
      }

      paper-button[raised] {
        background-color: #072146;
        color: white;
      }

      paper-card .card-header iron-icon {
        width: 2em;
        color: var(--paper-green-700);
      }

      .userCreatedMsg {
        border-radius : 5px;
        --border: 1px solid rgba(56, 161, 77, 1);
        margin: 2px 1px;
        text-align: center;
        font-size: 16px;
        padding: 1em 3em 1em 3em;
        color : var(--paper-green-500);
        font-weight: bold;
        width: 260px;
      }

      paper-card .userCreatedMsg iron-icon {
        width: 2em;
        --color: var(--paper-green-700);
        --
      }

      select.v-select-select  {
      	padding: 4px;
      	line-height: 24px;
      	height: 24px;
      	font-family: Tahoma;
      	font-size: 22px;
      	color: #003399;
      }

    </style>
    <paper-card elevation="3" animated-shadow="false" class="card">
      <div class="card-header">
        Registrate en nuestra Banca por Internet
      </div>
      <form is="iron-form" id="form">
        <div class="card-content">

          <paper-input id="name" label="Nombres" type="" validator="" auto-validate error-message="Dato requerido" value="{{name::input}}" required></paper-input>
          <paper-input id="lastName" label="Apellidos" type="" validator="" auto-validate error-message="Dato requerido" value="{{lastName::input}}" required></paper-input>
          <paper-input id="dni" label="DNI" auto-validate pattern="[0-9]*" minlength="8" maxlength="8" error-message="Dato erróneo" value="{{dni::input}}" required></paper-input>
          <!--<vaadin-combo-box id="pais" label="Nacionalidad" placeholder="Nacionalidad" items='["ARGENTINA","BRASIL","COLOMBIA","PERU","URUGUAY","VENEZUELA"]' item-value-path="pais" item-label-path="pais" value="PERU" on-value-changed="paisChoosed"></vaadin-combo-box>
-->
          <vaadin-combo-box id="contryList" label="Nacionalidad" placeholder="Seleccionar Nacionalidad" items="{{listaPaises}}" item-value-path="acc_complete" item-label-path="acc_complete" on-value-changed="valueChanged" value="[[_getFirstItem(listaPaises)]]" ></vaadin-combo-box>
          <paper-input id="email" label="Correo" type="email" auto-validate error-message="Correo Inválido" value="{{email::input}}" required></paper-input>
          <paper-input id="pswd" label="Contraseña (min 6 caract.)" type="password" auto-validate error-message="Dato requerido" minlength="6" value="{{pswd::input}}" required></paper-input>

        </div>

        <template is="dom-if" if="{{_isEqualTo(createSucess,'OK')}}">
          <div id="userCreatedMsg" class="userCreatedMsg">
            Usuario registrado exitosamente
          </div>
        </template>

        <div class="card-actions">
          <paper-button raised id="crear">Crear</paper-button>
         <paper-button raised id="goLogin"> Login </paper-button>
        </div>
      </form>
    </paper-card>

    <iron-ajax id="ajaxPostUsers" url=[[api.src_host]][[api.src_users]]
    method="post" handle-as="json" content-type="application/json"
    body="[[body]]" loading="{{loading}}" on-response="postUserAJAXResponse"
    last-response="{{user}}" on-error="showError">
    </iron-ajax>

    <iron-ajax
    id="doExternalGet"
    auto
    url=https://restcountries.eu/rest/v2/all
    content-type="application/json"
    method="GET"
    handle-as="json"
    last-response="{{paises}}"
    on-response="nacionalidadAJAXResponse"
    on-error="showErrorAccounts">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class NewUser extends Polymer.Element {
      static get is() {
        return 'new-user';
      }
      ready() {
        super.ready();
        console.log("NewUser : Ready() ");

        this.$.crear.addEventListener('click', e => {
          this._handleClick(e)
        });

        this.$.goLogin.addEventListener('click', e=>{
          this._goToLogin(e);
        });

      }

      static get properties() {
        return {
          api: {
            type: Object
          },
          createSucess :{
            type : String,
            value : 'NOTOK'
          },
          name:{
            type : String,
            value : ''
          },
          lastName:{
            type : String,
            value : ''
          },
          dni:{
            type : String,
            value : ''
          },
          email:{
            type : String,
            value : ''
          },
          pswd:{
            type : String,
            value : ''
          },
          pais: {
            type: String
          },
          paises: {
            type: Array
          },
          listaPaises: {
            type: Array
          }
        };
      }

      nacionalidadAJAXResponse() {
        console.log("url: "+this.$.doExternalGet.url);
        var arreglo = [];
        for (var i in this.paises) {
                arreglo[i]=this.paises[i].name;
                console.log("nacionalidad2: "+arreglo[i]);
            }
        this.listaPaises=arreglo;
        console.log("nacionalidad2: "+this.longitud);
      }

      _getFirstItem(listaPaises) {
        if (listaPaises) {
          this.pais = listaPaises[0].acc_complete;
          return listaPaises.length > 0 && listaPaises[0].acc_complete;
        }
      }

      valueChanged(e) {
        this.pais = this.$.contryList.value;
      }

      _handleClick(e) { //e.target.id
        if (this.$.name.validate() &&
          this.$.lastName.validate() &&
          this.$.dni.validate() &&
          this.$.email.validate() &&
          this.$.pswd.validate()) {
          this.invoqueAjax();
        }
      }

      _goToLogin(e) {
        this.dispatchEvent(new CustomEvent('myevent',{
          detail:{
            data : 'N'
          }
        }));
      }

      invoqueAjax() {
        let createUserData = {
          "tipoDocumento": "DNI",
          "numeroDocumento": this.dni,
          "nombres": this.name,
          "apellidos": this.lastName,
          "correo": this.email,
          "password": this.pswd,
          "nacionalidad":this.pais

        };
        //console.log("el pais es: "+this.pais);
        this.body = JSON.stringify(createUserData);
        this.$.ajaxPostUsers.generateRequest();
      }
      paisChoosed(e) {
        this.pais = this.$.pais.value;
      }
      postUserAJAXResponse(e) {
        this.createSucess = 'OK';
        this.$.crear.style.display = 'none';
        this.$.goLogin.style.display = 'hidden';
      }

      showError(error) {
        console.log(error);
        console.log("Usuario ya creado");
      }

      _isEqualTo(title, string){
        return title == string;
      }

    }
    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
