<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="profile-config">
  <template>
    <style>
      :host {
        padding-top: 1em;
        display: block;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }

      th {
        background-color: #0D79AF;
        color: white;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .card {
        margin: 4px 14px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      vaadin-combo-box {
        width: 300px;
      }

      .fmrCuenta {
        border: 1px solid rgba(3, 88, 216, .6);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 2px;
        padding: 5px;
      }

      .marco {
        border: 1px solid rgba(191, 191, 191, 1);
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        margin: 0px 0px;
        padding: 0px 20px 16px;
      }

      .msgAlert{
          border-radius : 5px;
          margin: 0px 152px;
          text-align: center;
          font-size: 14px;
          background-color : var(--paper-orange-100);
          color: var(--paper-red-400);
          font-size: small
      }

      .msgSucessUpdatePass p{
        border-radius : 5px;
        margin: 0px 152px;
        text-align: center;
        font-size: 14px;
        background-color : var(--paper-green-100);
        color: var(--paper-green-900);
        font-size: small
      }

      paper-button[raised] {
        margin-top: 1em;
        background-color: #072146;
        color: white;
      }

    </style>

    <div class="card">
      <div class="marco">

          <div id="info" class="info" hidden$="{{hideInfo}}">
            <h1>Mis Datos</h1>
            <p> <b>Nombre :</b> {{context.user.nombres}}</p>
            <p> <b>Apellido :</b> {{context.user.apellidos}}</p>
            <p> <b>Correo :</b> {{context.user.correo}}</p>
            <p> <b>Nacionalidad :</b> <img style="max-width: 50px;  height: 20px;" src="{{bandera}}" ></p>
            <google-map style="height: 450px;" latitude="{{latitud}}" longitude="{{longitud}}" zoom=3>
              <google-map-marker latitude="{{latitud}}"
              longitude="{{longitud}}" title="Este es mi país"></google-map-marker>
            </google-map>
          </div>



        <!--<template is="dom-if" if="{{_isEqualTo(showForm,'T')}}"> -->
        <div class="fmrCuenta">
          <paper-checkbox id="check" on-change="checkboxChanged" hidden="{{hiddenpBox}}">Solicitar cuenta</paper-checkbox>
          <div id="formulario" class="Form" hidden$="{{hide}}">
            <h1>Solicitud de Cuentas</h1>
            <vaadin-combo-box id="accountType" label="Tipo de Cuenta" placeholder="Tipo de Cuenta" items='["CUENTA GANADORA","CUENTA CORRIENTE","CUENTA SUELDO"]' item-value-path="accountType" value="CUENTA GANADORA">
            </vaadin-combo-box><br>
            <vaadin-combo-box id="divisa" label="Divisa" placeholder="Please select" items='["SOLES", "DOLARES"]' item-value-path="divisa" value="SOLES">
            </vaadin-combo-box><br>
            <br>
            <paper-button id="enviar" raised on-click="_invoqueAjax">Solicitar</paper-button>
          </div>
          <!--</template> -->
          <div id="msgSucess" hidden$="{{showMsg}}">
            <h1>Felicidades [[context.user.nombres]]!!!</h1>
            <p>Tu cuenta se creo satisfactoriamente</p>
            <p> <b>Número de Cuenta :</b> [[account.numeroCuenta]]</p>
            <p> <b>Tipo de cuenta :</b> [[account.tipoCuenta]]</p>
            <p> <b>Divisa :</b> [[account.moneda]]</p>
            <p> <b>Saldo Disponible :</b> [[account.saldoDisponible]]</p>
            <br>
            <paper-button id="ok" raised on-click="_resetForm">Ok</paper-button>
          </div>
        </div>

      </div>
    </div>

        <iron-ajax
        id="doExternalGet"
        auto
        url=https://restcountries.eu/rest/v2/name/{{context.user.nacionalidad}}
        content-type="application/json"
        method="GET"
        handle-as="json"
        last-response="{{nacionalidad}}"
        on-response="externalAJAXResponse"
        on-error="showErrorAccounts">


    <iron-ajax id="ajaxPostAccount"
    url=[[api.src_host]][[api.src_accounts]]
    method="post" handle-as="json" content-type="application/json"
    body="[[body]]" loading="{{loading}}"
    on-response="postAccountAJAXResponse"
    last-response="{{account}}"
    on-error="showError"
    headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

    <iron-ajax id="ajaxAuth" url=[[api.src_host]][[api.src_auth]] method="post" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="authAJAXResponse" last-response="{{user}}" on-error="showError">
    </iron-ajax>

    <iron-ajax id="ajaxPutUser" url=[[api.src_host]][[api.src_users]][[context.usr_id]] method="put" handle-as="json" content-type="application/json" body="[[body]]" loading="{{loading}}" on-response="putUserAJAXResponse" last-response="{{responseServicio}}" on-error="showError" headers$='{"authorization": "Basic [[context.token]]"}'>
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */

    class ProfileConfig extends Polymer.Element {
      static get is() {
        return 'profile-config';
      }

      ready() {
        super.ready();
        console.log("url: "+this.$.doExternalGet.url);
        console.log("ProfileConfig : Ready() ");
      }

      static get properties() {
        return {
          data: {
            type: Object
          },
          routeTransfer: {
            type: String,
            value: 'F'
          },
          context: {
            type: Object
          },
          api: {
            type: Object
          },
          accountNumber: {
            type: String
          },
          showMsg: {
            type: Boolean,
            value: true
          },
          hide: {
            type: Boolean,
            value: true
          },
          hiddenpBox: {
            type: Boolean,
            value: false
          },
          hideUpdatePass: {
            type: Boolean,
            value: true
          },
          reset: {
            type: Boolean,
            value: true,
            observer: '_resetForm'
          },
          oldPass: {
            type: String,
            value: ''
          },
          newPass: {
            type: String,
            value: ''
          },
          validateNewPass: {
            type: String,
            value: ''
          },
          nacionalidad: {
            type: Object
          },
          bandera: {
            type: String,
            value: ''
          },
          latitud:{
            type: String,
            value: ''
          },
          longitud: {
            type: String,
            value: ''
          }
        };
      }

      _invoqueAjax() {
        var aleatorio = Math.floor(Math.pow(10, 8) + Math.random() * 9 * Math.pow(10, 8));
        var cta="001104860"+aleatorio;
        var clienteId= this.context.user.numeroDocumento;
        let createData = {
            "cliente":clienteId,
            "numeroCuenta":cta,
            "tipoCuenta":this.$.accountType.value,
            "moneda":this.$.divisa.value == 'SOLES' ? 'S/' : 'USD',
            "saldoDisponible":700
        }
        this.body= JSON.stringify(createData);
        this.$.ajaxPostAccount.generateRequest();
      }



      _invoqueAuthAjax() {
        let authData = {
          "usr_email": this.context.usr_email,
          "usr_password": this.oldPass
        };
        this.body = JSON.stringify(authData);
        this.$.ajaxAuth.generateRequest();
      }

      putUserAJAXResponse() {

        this.$.msgSucessUpdatePass.hidden = false;
        this.$.newPass.disabled = true;
        this.$.validateNewPass.disabled = true;
        this.$.cancel.hidden = true;
        this.$.change.hidden = true;

      }

      getUserAJAXResponse() {
        this.validatePass();
      }

      showError(error) {
        console.log("Error Accounts: " + error);
      }

      changeStep(e) {
        this.routeTransfer = e.detail.route;
        this.data = e.detail.data;
      }

      _isEqualTo(title, string) {
        return title == string;
      }

      externalAJAXResponse() {
        this.bandera=this.nacionalidad[0].flag;
        this.latitud=this.nacionalidad[0].latlng[0];
        this.longitud=this.nacionalidad[0].latlng[1];
      }

      postAccountAJAXResponse() {
        this.hiddenpBox = !this.hiddenpBox;
        this.showMsg = !this.showMsg;
        this.hide = !this.hide;
        this.dispatchEvent(new CustomEvent('refreshlist', {
          'detail': {
            'value': 'S'
          }
        }));
      }

      checkboxChanged(event) { //event.target.checked
        this.hide = !this.hide;
      }

      checkinfoChanged(event) {
        this.hideInfo = !this.hideInfo;
      }

      checkboxUpdateChanged(event) {
        this.hideUpdatePass = !this.hideUpdatePass;
      }

      _resetForm() {
        this.hiddenpBox = false;
        this.showMsg = true;
        this.hide = true;
        this.$.check.checked = false;
      }

      _auth() {
        this._invoqueAuthAjax();
      }

      authAJAXResponse() {
        this.$.newPass.disabled = false;
        this.$.validateNewPass.disabled = false;
        this.$.cancel.disabled = false;
        this.$.change.disabled = false;
        this.$.oldPass.disabled = true;
        this.$.auth.disabled = true;
      }

    }
    window.customElements.define(ProfileConfig.is, ProfileConfig);
  </script>
</dom-module>
